h3 {
    border-bottom: 1px solid var(--slight-bright);
}

#playback[data-toggled="false"]::before {
    content: "Play";
}

#playback[data-toggled="true"]::before {
    content: "Pause";
}

#highlight {
    display: none;
}

#highlight.visible {
    display: unset;
}

#highlight-status {
    display: none;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

#highlight-status.visible {
    opacity: 100;
}

#highlight-status.enabled {
    display: unset;
}

#structure {
    display: none;
    flex-direction: column;
}

#structure.visible {
    display: flex;
}

.buttons-with-settings {
    display: flex;
    align-items: center;
}

.buttons-with-settings .settings {
    display: flex;
    flex-direction: column;
}

.text-small {
    font-size: 0.8em;
    margin: 0;
}
