h3 {
    border-bottom: 1px solid var(--slight-bright);
}

#playback[data-toggled="false"]::before {
    content: "Play";
}

#playback[data-toggled="true"]::before {
    content: "Pause";
}

#highlight {
    display: none;
}

#highlight.visible {
    display: unset;
}
