h3 {
    border-bottom: 1px solid var(--slight-bright);
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece {
    background: var(--background-body);
}

#instruments {
    display: none;
}

#instruments.visible {
    display: unset;
}

#playback-button::before {
    content: "Play";
}

#playback-button[data-toggled="true"]::before {
    content: "Pause";
}

#structure {
    display: none;
    flex-direction: column;
    padding: 10px;
    border-radius: 6px;
    background: var(--background);
}

#structure.visible {
    display: flex;
}

.ace_content, .ace_gutter-layer {
    background: var(--background);
}

.ace_gutter-active-line, .ace_active-line {
    background: var(--background) !important;
}

.ace_scrollbar::-webkit-scrollbar-track, .ace_scrollbar::-webkit-scrollbar-track-piece {
    background: var(--background);
}

.buttons-with-settings {
    display: flex;
    align-items: center;
}

.buttons-with-settings .settings {
    display: flex;
    flex-direction: column;
}

.text-small {
    font-size: 0.8em;
    margin: 0;
}
